Django==5.1.2
gunicorn==20.1.0

django-taggit==6.1.0
django-allauth==65.0.2
django-storages==1.13.1
django-cors-headers==3.13.0
django-widget-tweaks==1.5.0

boto3==1.26.32

Pillow==10.0.1
psycopg2-binary==2.9.9

django-environ==0.10.0
